<div class="popular">
    <div class="log flex justify-content-between md:px-6 mt-2">
        <h2 class="text-white">Popular Movies</h2>

        <div class="btn py-2">
            <p-button label="show all" [link]="true" (onClick)="onPopular()" />
        </div>
    </div>
    <div class="card">
        <p-carousel [value]="popularMovies" [numVisible]="5" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
            <ng-template let-movie pTemplate="item">
                <div class="border-1 surface-border shadow-1 border-round m-3">
                    <div class="relative overflow-hidden border-round cd">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}"
                            class="movie-poster border-round">
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="toprated">
    <div class="log flex justify-content-between md:px-6">
        <h2 class="text-white">TopRated Movies</h2>

        <div class="btn py-2">
            <p-button label="show all" [link]="true" (onClick)="onToprated()" />
        </div>
    </div>
    <div class="card">
        <p-carousel [value]="topratedMovies" [numVisible]="5" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="3500">
            <ng-template let-movie pTemplate="item">
                <div class="border-1 surface-border shadow-1 border-round m-3">
                    <div class="relative overflow-hidden border-round cd">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}"
                            class="movie-poster border-round">
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="nowplaying">
    <div class="log flex justify-content-between md:px-6">
        <h2 class="text-white">NowPlaying Movies</h2>

        <div class="btn py-2">
            <p-button label="show all" [link]="true" (onClick)="onNowplaying()" />
        </div>
    </div>
    <div class="card">
        <p-carousel [value]="nowplayingMovies" [numVisible]="5" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="3900">
            <ng-template let-movie pTemplate="item">
                <div class="border-1 surface-border shadow-1 border-round m-3">
                    <div class="relative overflow-hidden border-round cd">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}"
                            class="movie-poster border-round">
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="upcoming">
    <div class="log flex justify-content-between md:px-6">
        <h2 class="text-white">Upcoming Movies</h2>

        <div class="btn py-2">
            <p-button label="show all" [link]="true" (onClick)="onUpcoming()" />
        </div>
    </div>
    <div class="card">
        <p-carousel [value]="upcomingMovies" [numVisible]="5" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="4000">
            <ng-template let-movie pTemplate="item">
                <div class="border-1 surface-border shadow-1 border-round m-3">
                    <div class="relative overflow-hidden border-round cd">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}"
                            class="movie-poster border-round">
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>