.movie-poster {
    width: 100%;
    height: 360px;
    transition: transform 0.3s ease;
}

.main:hover .movie-poster {
    transform: scale(1.3);

}

:host ::ng-deep .p-card-title {
    font-size: 16px;
}

.popular {
    background-color: #000000;
    color: #ffffff;
}

/* :host ::ng-deep .p-card-body {
    background-color: #000000;
    color: #fff;
    border: 1px solid gray;
} */

:host ::ng-deep .p-button-label,
.link {
    color: #ffffff;
    text-decoration: none;

}

:host ::ng-deep .p-button-label:hover {
    color: #307ce6;
    text-decoration: underline;

}